<div class="y-box">
  <y-title params="name: 'Checkbox多选'"></y-title>
  <demo params="code:code[0]">
    <div class="code-top">
      <y-checkbox params="dataList:$root.checkboxDataList,value:$root.checkboxValue"></y-checkbox>
    </div>
    <div class="code-split">
      <span>基本用法</span>
    </div>
    <div class="code-bottom">
      使用<code>dataList</code>绑定数组来生成组合。在组合使用时，Checkbox 使用 label 来自动判断选中状态。
    </div>
  </demo>

  <demo params="code:code[1]">
    <div class="code-top">
      <y-checkbox params="dataList:$root.checkboxDataList,value:$root.checkboxValue1,direction:'vertical'"></y-checkbox>
    </div>
    <div class="code-split">
      <span>垂直</span>
    </div>
    <div class="code-bottom">
      设置属性<code>direction</code>可以垂直显示。
    </div>
  </demo>

  <demo params="code:code[2]">
    <div class="code-top">
      <y-checkbox params="dataList:$root.checkboxDataList1,value:$root.checkboxValue2"></y-checkbox>
    </div>
    <div class="code-split">
      <span>第二标签</span>
    </div>
    <div class="code-bottom">
      在绑定的数组dataList中设置secondarylabel添加第二标签。
    </div>
  </demo>
</div>