<div class="y-box">
    <demo params="code:code">
      <div class="code-top">
        <y-button params="type:'primary', click:$parent.handleClick">info</y-button>
        <y-button params="type:'error', click:$parent.handleErrorClick">error</y-button>
      </div>
      <div class="code-split">
        <span>基础用法</span>
      </div>
      <div class="code-bottom">
        <code>ycloud.notice.info('基础用法info')</code><br>
        <code>ycloud.notice.error('错误用法error')</code>
      </div>
    </demo>
  </div>
