<div class="y-box">
  <y-title params="name: 'Icon标签'"></y-title>
  <demo params="code:code">
    <div class="code-top">
      <y-icon params="type:'bicycle'"></y-icon>&nbsp;
      <y-icon params="type:'bus'"></y-icon>&nbsp;
      <y-icon params="type:'car'"></y-icon>&nbsp;
      <y-icon params="type:'plane'"></y-icon>
      <hr class="hr-fix">
      <y-icon params="type:'bicycle', color: '#2d8cf0'"></y-icon>&nbsp;
      <y-icon params="type:'bus', color: '#19be6b'"></y-icon>&nbsp;
      <y-icon params="type:'car', color: '#ff9900'"></y-icon>&nbsp;
      <y-icon params="type:'plane', color: '#ed3f14'"></y-icon>
      <hr class="hr-fix">
      <y-icon params="type:'bicycle', size: 12"></y-icon>&nbsp;
      <y-icon params="type:'bus', size: 14"></y-icon>&nbsp;
      <y-icon params="type:'car', size: 16"></y-icon>&nbsp;
      <y-icon params="type:'plane', size: 18"></y-icon>
    </div>
    <div class="code-split">
      <span>如何使用</span>
    </div>
    <div class="code-bottom">
      使用y-icon组件，指定图标对应的type属性(与fa图标集保持一致)，color属性为显示颜色，size属性为图标大小(单位自动设置为px)，padding属性为图标内边距(同时支持对象写法和字符串写法)。
    </div>
  </demo>
</div>
