<div class="y-box">
  <y-title params="name: 'Grid表格', link: 'https://github.com/yonyouyc/blog/issues/32'"></y-title>
  <demo params="code:code">
    <div class="code-top">
      <y-grid params="isDataTable:true,maxheight:'auto',rows:$parent.rows, columns: $parent.columnsBase"></y-grid>
    </div>
    <div class="code-split">
      <span>基础用法</span>
    </div>
    <div class="code-bottom">
      <p>
        <code>isDataTable:true</code>表示rows对应的是DataTable里的rows
      </p>
      <p> <code>maxheight:'auto'</code>表示表格高度是根据内容动态扩展，适用于数量较少的表格展示 </p>
      <p>
        <code>columns</code>里设置title和filed即可
      </p>
    </div>
  </demo>
  <demo params="code:code2">
    <div class="code-top">
      <y-grid params="maxheight:'auto',isDataTable:true,rows:$parent.rows, columns: $parent.columnsRender"></y-grid>
    </div>
    <div class="code-split">
      <span>自定义render</span>
    </div>
    <div class="code-bottom">
      <p>
        <code>
          type: 'render'
        </code>表示启用自定义render展示
      </p>
      <p>
        <code>
          renderFn
        </code>具体进行render渲染的函数
      </p>
      <p>
          只支持简单html片段组装，不支持复杂ko指令或内嵌组件
      </p>
    </div>
  </demo>
  <demo params="code:code2">
    <div class="code-top">
      <y-grid params="maxheight:'auto',isDataTable:true,rows:$parent.rows, columns: $parent.columnsIndex"></y-grid>
    </div>
    <div class="code-split">
      <span>序号列 + checkbox列</span>
    </div>
    <div class="code-bottom">
      <p>
        <code>
          type: 'index'
        </code>表示显示序号列（需要在columns中占一列）
      </p>
      <p>
        <code>
          type: 'checkbox'
        </code>表示显示checkbox列 通常用支持多选的表格
      </p>
    </div>
  </demo>
  <demo params="code:code3">
    <div class="code-top">
      <y-grid params="maxheight:'auto',isDataTable:true,rows:$parent.rows, columns: $parent.columnsOper"></y-grid>
    </div>
    <div class="code-split">
      <span>表格带操作列</span>
    </div>
    <div class="code-bottom">
      <p>
        <code>
          type: 'operation'
        </code>表示是操作列
      </p>
      <p>
        <code>
          operationList.click [Funciton]
        </code>点击后事件
        <code>
          operationList.visible [Funciton]
        </code>显示隐藏状态，用于动态显示操作按钮
      </p>
    </div>
  </demo>
  <demo params="code:code4">
    <div class="code-top">
      <y-grid params="onPageChange:$root.handleChange,onSizeChange:$root.handleChange,pagination:true,totalCount:ko.observable(20),maxheight:'auto',isDataTable:true,rows:$parent.rows, columns: $parent.columnsBase"></y-grid>
    </div>
    <div class="code-split">
      <span>表格带分页</span>
    </div>
    <div class="code-bottom">
      <p>
        <code>
          pagination: true
        </code>表示启用分页
      </p>
      <p>
        <code>
          totalCount: ko.observable(20)
        </code>如果需要有分页则必须有值，必须为ko对象
      </p>
    </div>
  </demo>
  <demo params="code:code5">
    <div class="code-top">
      <y-grid params="maxheight:'200px',lockhead:true, isDataTable:true,rows:$parent.morerows, columns: $parent.columnsBase"></y-grid>
    </div>
    <div class="code-split">
      <span>表头锁定</span>
    </div>
    <div class="code-bottom">
      <p>
        <code>
          lockhead: true
        </code>表示表头锁定
      </p>
      <p>
        如果需要锁定表头则<code>maxheight</code>不能为 <code>auto</code>,需指定高度(如：'200px')或不指定(默认10行高度)
      </p>
    </div>
  </demo>
  <demo params="code:code6">
    <div class="code-top">
      <y-grid params="maxheight:'auto',isDataTable:true,rows:$parent.rows, columns: $parent.columnsComp"></y-grid>
    </div>
    <div class="code-split">
      <span>可编辑表格</span>
    </div>
    <div class="code-bottom">
      <p>
        列属性：
        <code>
          type: 'component'
        </code>表示这一列使用自定义组件
        <code>
          compFn
        </code>具体用于渲染的组件用哪个
      </p>
      <p>
        理论上每一列可以用任意的ko自定义组件来渲染
      </p>
    </div>
  </demo>
  <demo params="code:code7">
    <div class="code-top">
      <y-grid params="maxheight:'auto',isStripe:true,rowspan:{maxCol: 2},id:'rowspantable',columns:$root.rowspancol,rows: $root.rowspanrows"></y-grid>
    </div>
    <div class="code-split">
      <span>支持rowspan的表格</span>
    </div>
    <div class="code-bottom">
      <p>
        <code>
          rowspan:{maxCol: 2}
        </code>表示自动合并前两列（依据列的innerText来判断是否应该合并，请事先对row做好排序）
      </p>
    </div>
  </demo>
  <demo params="code:code10">
    <div class="code-top">
    <y-grid params="maxheight:'auto',isTableBorder:true,columns1:$root.columns1, columns2: $root.columns2, rows: $root.complexHeadRows"></y-grid>
    </div>
    <div class="code-split">
    <span>复杂表头</span>
    </div>
    <div class="code-bottom">
    <p>
      复杂表头需要定义<code>columns1</code>和<code>columns2</code>两个属性（根据现有场景，目前只支持两行的复杂表头，目前只支持ko对象）
    </p>
    <p>
      参照正常table实现的时候的第一行tr和第二行tr 设置对应的colspan和rowspan即可。
    </p>
    <p>
      为保证样式美观 请确保复杂表头和 <code>isTableBorder:true</code> 配合使用
    </p>
    </div>
  </demo>
  <demo params="code:code11">
    <div class="code-top">
      <y-grid params="headHeight:'90px',lockhead:true, maxheight:'220px',isTableBorder:true,columns1:$root.columnsDynamic1, columns2: $root.columnsDynamic2, rows: $root.complexHeadRowsDynamic"></y-grid>
    </div>
    <div class="code-split">
      <span>复杂表头 + 动态列</span>
    </div>
    <div class="code-bottom">
      <p>
        关键属性：<br>
        1.返回的数据格式参见右侧代码complexHeadRowsDynamic，需要将动态列做为一个数组如：detailList放入row中<br>
        2.第一行 columns的 <code>title</code>属性可以设置为 <code>codetitle: '第{n}次报价信息'</code>,{n}会自动替换成当前轮次数字 <br>
        3.扩展重复列需要定义 <code>loop: true</code> <code>uniqueKey: 'xxx'</code>(第一行中col的uniqueKey，需要和第二行中的包含列一一对应)<br>
        4.<code>looplength: Function () {}</code> 可以根据row中的值动态返回循环的次数（一般情况下等于row下detailList数组的个数）<br>
        5.具体列展示的值如果在<code>detailList</code>下则请使用<code>renderFn</code>来进行实现，三个参数第三个会返回<code>col</code>，<code>col._childIndex</code>表示对应<code>detailList</code>中的索引<br>
        6.<code>headHeight:'90px'</code> 默认情况下普通表头高度是45px（默认值） 对于复杂表头需要传入自定义的高度
      </p>
      <p>
      </p>
    </div>
  </demo>
  <demo params="code:code12">
    <div class="code-top">
      <y-grid params="lockcolumn:true, isTableBorder:true,columns:$root.columnsDynamic3,rows: $root.complexHeadRowsDynamic"></y-grid>
    </div>
    <div class="code-split">
      <span>固定列</span>
    </div>
    <div class="code-bottom">
      <p>
        关键属性：<br>
        1.<code>lockcolumn:true</code>(会同时默认设置lockhead:true) <br>
        2.定义columns需要指定所有列的宽度 <br>
        3.定义columns把需要锁定的前N列设置<code>lock:true</code>
      </p>
      <p>
      </p>
    </div>
  </demo>
  <demo params="code:code8">
    <div class="code-top">
      <y-button params="click:$root.handleGetSelectedRow">获取所有选中的行(参见console.log)</y-button>
      <y-grid params="ref: 'grid1',maxheight:'auto',isDataTable:true,rows:$parent.rows, columns: $parent.columnsIndex"></y-grid>
    </div>
    <div class="code-split">
      <span>Grid实例方法</span>
    </div>
    <div class="code-bottom">
      <p>
        <code>
          ycloud.$ref['grid1'].getSelectedRows()
        </code>
      </p>
    </div>
  </demo>
  <demo params="code:code9">
    <div class="code-top">
      <y-button params="click:$root.handleColumnVisible">将name设置为隐藏</y-button>
      <y-grid params="ref: 'grid2',maxheight:'auto',isDataTable:true,rows:$parent.rows, columns: $parent.columnsIndex"></y-grid>
    </div>
    <div class="code-split">
      <span>Grid实例方法</span>
    </div>
    <div class="code-bottom">
      <p>
        <code>
          ycloud.$ref['grid1'].setColVisibleByField('name', false)
        </code>
      </p>
    </div>
  </demo>

</div>
