<div class="y-box">
  <y-title params="name: 'Showdetail显示更多'"></y-title>
  <demo params="code:code.base">
    <div class="code-top">
      <div class="row">
        <div class="col-md-5">
          <y-showdetail params="text:'这是一条很长很长的文字描述，通常会超过一行，所以会显示...'"></y-showdetail>
          <br>
          <y-showdetail params="text:$parent.nullText"></y-showdetail>
        </div>
      </div>
    </div>
    <div class="code-split">
      <span>基本用法</span>
    </div>
    <div class="code-bottom">
      基本用法：当文本太长时(会自动根据外层宽度进行调整)，可以使用 <code>y-showdetail</code>组件进行处理. <p>如果没有值，则显示:--</p>
    </div>
  </demo>
  <demo params="code:code.multiple">
    <div class="code-top">
      <div class="row">
        <div class="col-md-5">
          <y-showdetail params="multiple:true,text: $parent.longText"></y-showdetail>
        </div>
      </div>
    </div>
    <div class="code-split">
      <span>多行显示</span>
    </div>
    <div class="code-bottom">
      基本用法：传入<code>multiple：true</code> 可以显示两行文字，超出两行显示...
    </div>
  </demo>
  <demo params="code:code.withformview">
    <div class="code-top">
      <div class="row">
        <y-form>
        <div class="col-md-12">
          <y-formview params="label: '标题:',style:{width: '80%'}">
            <y-showdetail params="text: $root.longText"></y-showdetail>
          </y-formview>
        </div>
        <div class="col-md-12">
          <y-formview params="label: '描述:',style:{width: '80%'}">
            <y-showdetail params="text: '新奇的世界'"></y-showdetail>
          </y-formview>
        </div>
        </y-form>
      </div>
    </div>
    <div class="code-split">
      <span>表单中使用</span>
    </div>
    <div class="code-bottom">
      配合<code>y-formview</code>使用
    </div>
  </demo>
</div>
