<div class="y-box">
  <y-title params="name: 'Box容器'"></y-title>
  <demo params="code:code[0]">
    <div class="code-top">
      <y-box>
        <y-boxfilter params="title:'boxfilter'"></y-boxfilter>
        <y-boxcontent params="title: 'boxcontent'">
          基本布局
        </y-boxcontent>
      </y-box>
    </div>
    <div class="code-split">
      <span>基本用法</span>
    </div>
    <div class="code-bottom">
      y-box组件作为最外层容器包裹，y-boxfilter为标题栏，y-boxcontent为内容区(通过添加<code>title</code>设置标题，可添加<code>style</code>设置样式，与knockout语法保持一致)。
    </div>
  </demo>

  <demo params="code:code[1]">
    <div class="code-top">
      <y-box>
        <y-boxfilter params="title:'boxfilter'">
        </y-boxfilter>
        <div class="row">
          <div class="col-md-2">
            <y-boxcontent params="style:{minHeight:'500px'},title:'左侧导航'"></y-boxcontent>
          </div>
          <div class="col-md-10">
            <y-boxcontent params="title:'右侧内容',style:{marginLeft:'-20px',minHeight:'500px'}"></y-boxcontent>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <y-boxcontent params="title:'左侧内容',style:{marginRight:'-20px',minHeight:'300px'}"></y-boxcontent>
          </div>
          <div class="col-md-4">
            <y-boxcontent params="style:{minHeight:'300px'},title:'右侧导航'"></y-boxcontent>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <y-boxcontent params="title:'左侧',style:{marginRight:'-3%',minHeight:'300px'}"></y-boxcontent>
          </div>
          <div class="col-md-4">
            <y-boxcontent params="style:{minHeight:'300px',marginLeft:'-7px',marginRight:'-7px'},title:'中间'"></y-boxcontent>
          </div>
          <div class="col-md-4">
            <y-boxcontent params="style:{minHeight:'300px',marginLeft:'-3%'},title:'右侧'"></y-boxcontent>
          </div>
        </div>
      </y-box>
    </div>
    <div class="code-split">
      <span>配合栅格系统灵活布局</span>
    </div>
    <div class="code-bottom">
      以上基本布局容器，配合bootstrap的栅格系统可按需灵活布局。
    </div>
  </demo>
</div>
