<div>
  <demo params="code:code">
    <div class="code-top">
      <y-button params="type:'primary', click: $parent.showdropdown">点击后切换显示dropdown</y-button>
      <div>
        <y-dropdown params="width:300, isShow: $parent.isShow">
          <div>i am dropdown</div>
          <div>i am dropdown</div>
          <div>i am dropdown</div>
          <div>i am dropdown</div>
        </y-dropdown>
      </div>
    </div>
    <div class="code-split">
      <span>22</span>
    </div>
    <div class="code-bottom">
      33
    </div>
  </demo>
</div>
