<div class="y-box">
  <y-title params="name: 'Tree树', link: 'https://github.com/yonyouyc/blog/issues/37'"></y-title>
  <demo params="code:code">
    <div class="code-top">
      <y-tree params="data:$parent.treeData, height:'200px',onChange: $parent.handleTreeSelect"></y-tree>
    </div>
    <div class="code-split">
      <span>基础用法</span>
    </div>
    <div class="code-bottom">
      最简单的用法，点击可获取选中的值，树节点数据格式:<b>{id:'', name:'', children: []}</b>
    </div>
  </demo>
  <demo params="code:code2">
    <div class="code-top">
      <y-tree params="data:$parent.asyncTreeData, height:'200px', loadData:$parent.loadData"></y-tree>
    </div>
    <div class="code-split">
      <span>异步加载</span>
    </div>
    <div class="code-bottom">
      使用 <code>loadData</code>参数，传入获取子节点的函数即可
    </div>
  </demo>
  <demo params="code:codeCheckbox">
    <div class="code-top">
      当前选中的是：<span data-bind="text: JSON.stringify($root.treeSelectedItems())"></span>
      <y-tree params="selectedId: ko.observableArray[3,4],selectedItem:$root.treeSelectedItems,multiple:true,data:$parent.asyncTreeData, height:'200px', loadData:$parent.loadData"></y-tree>
    </div>
    <div class="code-split">
      <span>带checkbox多选</span>
    </div>
    <div class="code-bottom">
      使用 <code>multiple:true</code>参数，即可显示checkbox <br>
      传入默认勾选值可使用 <code>selectedId</code> 根据数据的id字段判断选中 <br>
      <code>selectedItem</code> 可返回选中的项的全部数据内容
    </div>
  </demo>
  <demo params="code: codeExtra">
    <div class="code-top">
      <y-tree params="extraText:'编辑', extraEdit: $root.extraEdit,data:$root.treeData, height:'200px', loadData:$root.loadData"></y-tree>
    </div>
    <div class="code-split">
      <span>鼠标移入可编辑</span>
    </div>
    <div class="code-bottom">
      使用 <code>extraText:'编辑',extraEdit:$root.extraEdit</code>参数<br>
      传入编辑按钮显示文本，以及点击编辑回调事件，仅当鼠标移入当前及选中当前节点时起作用
    </div>
  </demo>
  <demo params="code: codeNodeOption">
    <div class="code-top">
      <y-tree params="multiple: true,nodeOption: $root.nodeOption, data:$root.treeOptionData, height:'200px'"></y-tree>
    </div>
    <div class="code-split">
      <span>节点可配置项checkbox+图标</span>
    </div>
    <div class="code-bottom">
      使用 <code>nodeOption:nodeOption:</code>参数<br>
      nodeOption: {<br>
        showCheck (nodeData) // 节点是否显示checkbox的判断函数 <br>
        nodeIcon (nodeData) // 节点图标样式 根据nodeData内容判断<br>
      }<br>
    </div>
  </demo>

</div>
