<div class="y-box">
  <y-title params="name: 'Statetabs状态切换'"></y-title>
  <demo params="code:code[0]">
    <div class="code-top">
      <y-state-tabs params="style:{marginBottom: 0},index:$root.curStateIndex,items:$root.stateTabsItems,handler: $root.handleClick"></y-state-tabs>
    </div>
    <div class="code-split">
      <span>基本</span>
    </div>
    <div class="code-bottom">
      一般业务上配合grid使用
    </div>
  </demo>
  <demo params="code:code[0]">
    <div class="code-top">
      <y-state-tabs params="hideNum:true,style:{marginBottom: 0},index:$root.curStateIndex,items:$root.stateTabsItems,handler: $root.handleClick"></y-state-tabs>
    </div>
    <div class="code-split">
      <span>隐藏数字</span>
    </div>
    <div class="code-bottom">
      <code>hideNum:true</code>隐藏数字，数据只需title和state即可
    </div>
  </demo>
</div>
